* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: #f6f6f6;
}

.modal-box {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
